<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include about.html %}
  {% include experience.html %}
  {% include formules.html %}
  {% if site.contact == "static" %}
  {% include contact_static.html %}
  {% elsif site.contact == "disqus" %}
  {% include contact_disqus.html %}
  {% else %}
  {% include contact.html %}
  {% endif %}

  {% include footer.html %}
  {% include modals.html %}
  <elevenlabs-convai agent-id="agent_2501ks8mdg4dfqpvzq36er0wyf07"></elevenlabs-convai>
  {% include js.html %}
</body>
</html>
